*{
  font-family: 'Raleway', sans-serif;

}
.navbar-inverse .navbar-nav>li>a:hover {
    color: orange;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
.wrapper source{
  width: 100%;
  margin-top: -6%;
  height: auto;
  background-size: cover;
}
#background{
  position: relative;
  width: 100%;
  -webkit-transform: translateX(0%) translateY(-20%);
  background-size: cover;
}
.destaques{
  background-color: #ff8f15;
  text-align: center;
  color: #fff;
}
.destaques .row{
  margin-top: 2%;
  margin-bottom: 2%;
}
.rodape{
  color: #fff;
  background-color: #000;
  text-align: center;
  bottom: 0;
}
.jumbotron{
  background-color: #fff;
}
.navbar{
  height: 70px;
  background-color: #111111;
  border-bottom:3px solid #0f0f0f;
  font-size: 19px;
  position: relative;
  background-color: transparent;
  border: transparent !important;
  color: white;
}

.navbar-nav{
  padding-left: 50%;

}
.navbar-nav li{
  margin-left: 15px;
  margin-top: 10px;
}
.navbar-inverse .navbar-brand {
    color: orange;
    font-size: 18px;
    margin-left: 17px !important;
    font-size: 27px;
    padding: 24px 15px;
}
.background-preto{
  position: absolute;
  width: 100%;
  height: 109%;
  background-color: #00000078;
  top: 0;
}
.text-center{
  text-align: center;
}
.zero{
  margin-top: 18%;
}
.producoes{
  margin: 0 0 0 172px;
  color: white;
  font-size: 23px;
  top: 0;
  padding: 0 0 0 0;
}
.background-preto h1{
  font-size: 118px;
  color: #f6881f;
  margin-bottom: 0;
}
@media screen and (max-width: 1200px) {

  .navbar-nav{
    padding-left: 50%;

  }
  .navbar-nav li:hover{
    background-color: #000;
    border-bottom:0px;
  }
  .navbar{
    height: 70px;
    background-color: #111111;
    border-bottom:0px;
    font-size: 15px;
  }

  .navbar-nav li{
    padding-left: 0px;
    background-color: #000;

  }
  .navbar-nav{
    padding-left: 0%;

  }
}
